:root {
  --white: #ffffff;
  --mostly-black: #212121;
  --dark-gray: #757575;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

li {
  line-height: initial;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "Open Sans", sans-serif;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--mostly-black);
}
.container {
  width: 1200px;
}
/* ---------------------INDEX--------------------- */

/* ---------------------HEADER--------------------- */
.header {
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-color {
  color: #000000;
}
.header-link-index {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--mostly-black);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--dark-gray);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--dark-gray);
}
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}

/* ---------------------MAIN=HEADER+BUTTON--------------------- */
.header-main {
  background-color: #2f303a;
}
.main-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.main-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-button:active {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-text:active {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}
.main-text-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

/* ---------------------MAIN=SPECIALITIES--------------------- */
.specialities-after {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mostly-black);
}
.specialities-tittle {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--dark-gray);
}

/* ---------------------PICTURE--------------------- */
.picture-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mostly-black);
}

/* ---------------------OUR TEAM----------------------- */
.team-bg {
  background: #f5f4fa;
}
.team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mostly-black);
}
.team-after {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mostly-black);
}
.team-tittle {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-gray);
}

/* ---------------------FOOTER--------------------- */
.footer {
  background: #2f303a;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-text {
  color: var(--white);
}
.footer-tittle {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white);
}

/* ---------------------PORTFOLIO--------------------- */

/* ---------------------HEADER--------------------- */

.header-link-port {
  color: #2196f3;
}
.port-button-active:active {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.port-main-button {
  background: #f5f4fa;
  border-radius: 4px;
}
.port-main-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--mostly-black);
}

/* ---------------------PROJECT--------------------- */

.project-after {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--mostly-black);
}
.project-tittle {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--dark-gray);
}
.project-list {
  background: var(--white);
  border: 1px solid #eeeeee;
}
