:root {
  --white: #ffffff;
  --mostly-black: #000000;
  --dark-gray: #757575;
  --very-dark-gray: #212121;
  --vivid-blue: #2196f3;
  --very-dark-grayish-blue: #2f303a;
  --vivid-blue-button: #188ce8;
  --light-grayish-blue: #f5f4fa;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ---------------------INDEX--------------------- */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: var(--white);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--mosty-black);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
/* ---------------------HEADER--------------------- */
.header {
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--vivid-blue);
}
.header-logo-flex {
  display: flex;
}
.logo-color {
  color: var(--mostly-black);
}
.header-nav-flex {
  display: flex;
}
.header-contats-flex {
  display: flex;
}
.header-link {
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--very-dark-gray);
}
.header-studio {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--vivid-blue);
}
.header-tel {
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--dark-gray);
}
.header-mail {
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--vivid-blue);
}
.header-mail:hover {
  color: var(--vivid-blue);
}

/* ---------------------MAIN=HEADER+BUTTON--------------------- */
.header-main {
  background-color: var(--very-dark-grayish-blue);
}
.main-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.main-button {
  background: var(--vivid-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-text-button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}
.main-button:active {
  background: var(--vivid-blue-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.main-text-button {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

/* ---------------------MAIN=SPECIALITIES--------------------- */
.specialities-after {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--very-dark-gray);
}
.specialities-tittle {
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--dark-gray);
}

/* ---------------------PICTURE--------------------- */
.picture-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--very-dark-gray);
}
.picture-marker {
  list-style: none;
}
/* ---------------------OUR TEAM----------------------- */
.team-bg {
}
.team-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--very-dark-gray);
}
.team-after {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--very-dark-gray);
}
.team-tittle {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-gray);
}

/* ---------------------FOOTER--------------------- */
.footer {
  background: var(--very-dark-grayish-blue);
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--vivid-blue);
}
.footer-logo-text {
  color: var(--white);
}
.footer-tittle {
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--white);
}

/* ---------------------PORTFOLIO--------------------- */

/* ---------------------HEADER--------------------- */

.header-link-port {
  color: var(--vivid-blue);
}

/* ---------------------FILTERS--------------------- */

.port-button-active:active {
  background: var(--vivid-blue);
  box-shadow: 0px 3px 1px var(--mostly-black), 0px 1px 2px var(--mostly-black),
    0px 2px 2px var(--mostly-black);
  border-radius: 4px;
}
.port-main-button {
  background: var(--light-grayish-blue);
  border-radius: 4px;
}
.port-main-button-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--very-dark-gray);
}

/* ---------------------PROJECT--------------------- */

.project-after {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--mostly-black);
}
.project-tittle {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--dark-gray);
}
.project-list {
}
